body{
  padding: 0;
  margin: 0;
  user-select: none;
  overflow: hidden}
#piano{
  width: 100vw;
  height: 100vh;
  background: red
}
#piano-header{
  height: 40%;
  background: black;
  text-align: center;
}
#fs{
  position: fixed;
  top:0;
  left:0;
  z-index: 0;
}
#tag{
  margin:0;
  margin-left: 4vw;
  color:white;
  font-family: serif;
  font-weight: bold;
  font-size: 4vw;}
#check{
  position: absolute;
  top: 0.6vw;
  left: 1vw;
  width: 3vw;
  height: 3vw;
  background: gray;
  border-radius: 50%;
}
check.true{background: red}
#message{
  margin: 0;
  position: fixed;
  z-index: 1;
  width: 100vw;
  font-size: 2vw;
  font-family: monospace;
  top: -12vh;
  transition: 0.4s;
  color: #00A;
  background: #AAF;
}
#message.show{top: 0}
#keys{
  width: 100%;
  height: 60%;
  display: flex;
  flex-flow: row wrap;
  background: lightgray;
}
.key{ 
  text-align: center;
  align-content: end;
  font-size: 400%;
  font-family: serif}
.white{
  background: white;
  width: 12.5%;
  outline: 1px solid black
}
.black.active{
  background: #006;
  color: #eee;
}
.black{
  background: black;
  position: absolute;
  height: 40%;
  width: 6.25%;
  color: white
}
.white.active{
  background: #ccf;
  color: #113
}
#w{left: 9.375%}
#e{left: 21.875%}
#t{left: 46.875%}
#y{left: 59.375%}
#u{left: 71.875%}
